@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-color: #31f711;
  --accent-low-op: #30f71190;
  /* --accent-color: #42e229ea; */
  --acc-navy: #0a192f;
  --acc-lightNavy: #112240;
  --acc-lightestNavy: #233554;
  --acc-acSlate: #8892b0;
  --acc-lightSlate: #a8b2d1;
  --acc-lightestSlate: #ccd6f6;
  --acc-acWhite: #e6f1ff;
  --acc-grn: #64ffda;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
